@import "tailwindcss";

body {
  font-family: "Open Sans", sans-serif;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

.animate-float-slow {
  animation: float 5s ease-in-out infinite;
}

.animate-float-fast {
  animation: float 2s ease-in-out infinite;
}

.animate-float-delay {
  animation: float 4s ease-in-out infinite;
  animation-delay: 1s;
}

.animate-float-offset {
  animation: float 3.5s ease-in-out infinite;
  animation-delay: 0.5s;
}

.manrope {
  font-family: "Manrope", sans-serif;
}

@keyframes bounceDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15%);
  }
}

@keyframes glow {
  0%,
  100% {
    filter: drop-shadow(0 0 5px #f5ecbb);
  }
  50% {
    filter: drop-shadow(0 0 15px #d0b51e);
  }
}

.animate-bounceDown {
  animation: bounceDown 3s ease-in-out infinite;
}

.animate-glow {
  animation: glow 2s ease-in-out infinite;
}

.animate-bounceDownGlow {
  animation: bounceDown 1s ease-in-out infinite, glow 1s ease-in-out infinite;
}

.Toastify__toast-body {
  font-size: 14px;
}

.Toastify__toast-body > div:last-child {
  font-size: 14px;
}

.Toastify__toast {
  font-size: 14px;
  padding: 8px;
}
