@import "tailwindcss";

body {
  font-family: 'Open Sans', sans-serif;
}

.manrope {
  font-family: "Manrope", sans-serif;
}

@keyframes bounceDown {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(15%); }
}

@keyframes glow {
  0%, 100% { filter: drop-shadow(0 0 5px #f5ecbb); }
  50% { filter: drop-shadow(0 0 15px #d0b51e); }
}

.animate-bounceDown {
  animation: bounceDown 3s ease-in-out infinite;
}

.animate-glow {
  animation: glow 2s ease-in-out infinite;
}

.animate-bounceDownGlow {
  animation: bounceDown 1s ease-in-out infinite, glow 1s ease-in-out infinite;
}
